/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.title {
    margin-top: 56px;
    padding-left: 20px;
    line-height: 49px;
}
/*Catalog*/
.catalog{
    padding-left: 20px;
}

.catalog-list {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.catalog-item {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 280px;
    height: 270px;
    margin-right: 19px;
}

.catalog-item:nth-child(1){
    background-color: #DBE4DB;
}

.catalog-item:nth-child(2){
    background-color: #EADDD3;
}

.catalog-item:nth-child(3){
    background-color: #F8F2DA;
}

.catalog-item:nth-child(4){
    margin-left: 200px;
    margin-top: 24px;
    background-color: #D5D4E1;
}

.catalog-item:nth-child(5){
    margin-top: 24px;
    background-color: #F3D0DB;
}

.catalog-item:nth-child(6){
    margin-top: 24px;
    background-color: #E5EAF8;
}

.catalog-item-img {
    margin-top: 50%;
    margin-left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.catalog-item-link{
    position: absolute;
    text-align: center;
    top: 103px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 192px;
    font-size: 26px;
    line-height: 32px;
    text-decoration: none;
    color:  #FFFFFF;
    z-index: 1;
}

.catalog-item:hover .catalog-item-link,
.catalog-item:hover{
    text-decoration: underline;
    cursor: pointer;
}

.catalog-item:active .catalog-item-link,
.catalog-item:active{
    text-decoration: underline;
}

/*Product*/
.product {
    margin-top: 55px;
    margin-left: 220px;
    margin-bottom: 55px;
    max-width: 680px;
}
.product-title {
    font-size: 38px;
    line-height: 46px;
}

.product-desc{
    margin-top: 15px;
}

.product-desc:nth-child(2) {
    margin-top: 25px;
}