.title {
    margin-top: 56px;
    padding-left: 20px;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 1px;
}

.contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
    padding-left: 20px;
}

/*Contact-info*/
.contact-info {
    padding-right: 20px;
    width: 380px;
}

.contact-info-desc {
  padding-bottom: 20px;
}

.contact-info-text{
    font-family: 'Montserrat', 'Calibri',  sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}