.title {
    margin-top: 55px;
    padding-left: 20px;
    font-size: 40px;
    line-height: 51px;
}

/*Toys-form*/
.form-toys {
    margin-top: 50px;
    padding-left: 41px;
    background-color: rgba(125, 151, 218, 0.2);
}

.form-toys-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 42px;
    padding-bottom: 42px;
    border: 0px;
}

.form-toys-field{
    margin-left: 0px;
    margin-right: 96px;
    padding: 0px;
    border: 0px;
}

.form-toys-field:nth-child(2){
    margin-left: 0px;
    margin-right: 124px;
    min-width: 75px;
    padding: 0px;
    border: 0px;
}

.form-toys-field:nth-child(3){
    margin-left: 0px;
    margin-right: 68px;
    min-width: 131px;
    padding: 0px;
    border: 0px;
}

.form-toys-field:nth-child(4){
    margin-left: 0px;
    margin-right: 60px;
    min-width: 131px;
    padding: 0px;
    border: 0px;
}

.form-toys-input-range{
    margin-top: 24px;
    margin-left: 5px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 188px;
    height: 4px;
    background-color: #C29974;
}

.form-toys-input-range::-webkit-slider-thumb{
    -webkit-appearance: none;
            appearance: none;
    width: 24px;
    height: 24px;
    background-image: url('/image/Point.svg');
}

.form-toys-field-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-toys-field-desc{
    margin-top: 12px;
    margin-right: 169px;
}

.form-toys-field-desc:last-child{
    margin-right: 0px;
}

.form-toys-legend{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.form-toys-input{
    margin-top: 15px;
}

.color-item {
    margin-top: 15px;
}

.form-toys-label {
    position: relative;
    margin-left: 29px;
}

input:focus + label {
    outline-color: #000000;
    outline-offset: 3px;
    outline-style: auto;
    outline-width: 5px;
}

.form-toys-label::before{
    content: '';
    position: absolute;
    left: -29px;
    top: 0px;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    
}

.form-toys-label::after{
    content: '';
    position: absolute;
    left: -26px;
    top: 1px;
    width: 15px;
    height: 15px;
    background-image: url('/image/CheckmarkToys.svg');
    background-repeat: no-repeat;
    opacity: 0;
}

.form-toys-input:checked + .form-toys-label::after{
    opacity: 1;
}

.form-toys-label:hover{
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    cursor: pointer;
}

.form-toys-input:disabled + .form-toys-label{
    opacity: 0.5;
} 

.delivery-list{
    margin-top: 15px;
}

.delivery-item {
    margin-top: 10px;
}

.form-toys-label-delivery {
    position: relative;
    margin-left: 30px;
}

.form-toys-label-delivery::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -30px;
    width: 20px;
    height: 20px;
    border: 2px solid #C29974;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
}

.form-toys-label-delivery::after {
    content: '';
    position: absolute;
    top: 4px;
    left: -26px;
    width: 12px;
    height: 12px;
    background-color: #C29974;
    border-radius: 50%;
    opacity: 0;
}

.form-toys-input:checked + .form-toys-label-delivery::after {
    opacity: 1;
}

.form-toys-label-delivery:hover{
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    cursor: pointer;
}

.form-toys-input:disabled + .form-toys-label-delivery{
    opacity: 0.5;
} 

.amount-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
}

.amount-item{
    position: relative;
    width: 80px;
    padding-top: 7px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #FFFFFF;
    z-index: 1;
}

.form-toys-label-amount::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 35px;
    background-color: #F3D0DB;
    z-index: -1;
    opacity: 0;
}
.form-toys-input:checked +  .form-toys-label-amount::after{
    opacity: 1;
}

.form-toys-input:disabled + .form-toys-label-amount::after{
    opacity: 0.5;
    background-color: #C1C1C1;
}

.form-toys-input:disabled + .form-toys-label-amount{
    color: #908484;
}

.amount-item:hover{
    color:#877379;
    background-color: #EDDEEB;
} 

.form-toys-label-amount:hover{
    cursor: pointer;
}

.form-toys-button{
    margin-top: 36px;
    width: 96px;
    height: 40px;
}

/*Toys-block*/
.toys-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 71px;
    padding-left: 20px;
}

.toys-item{
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
}

.toys-item:nth-child(3n){
    margin-right: 0px;
}

.toys-item:nth-of-type(4){
    margin-top: 47px;
}

.toys-item:nth-of-type(5){
    margin-top: 45px;
}

.toys-item:nth-of-type(6){
    margin-top: 48px;
}

.toys-item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #1E0606;
}

.toys-item-link:hover:before{
    content: 'Learn more';
    position: absolute;
    padding-left: 11px;
    padding-top: 82px;
    padding-bottom: 96px;
    padding-right: 12px;
    top: 89px;
    left: 87px;
    width: 207px;
    font-family: 'Montserrat', 'Calibri',  sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    background: #E5EAF8;
    cursor: pointer;
    opacity: 0.9;
}

.toys-item-link:active:before{
    opacity: 0.67;
}

.toys-item-desc {
    margin-top: 30px; 
}

.toys-item-text {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}